/*start of ""ruleset""                                */
/* p {                              <---- selector    */
   /* color:   red;                 <---- Declaration */
   /* width:   500px;               <---- Declaration */
   /* border:  1px solid black;     <---- Declaration */
   /* property: property value(s)                     */
/* }                               End of ""ruleset"" */

/* ========================================================================= */

html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Source Code Pro", monospace;
  background-color: #FDFEF0;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #93d7d1;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 30px 0;
  color: #404442;
  text-shadow: 7px -3px 0px white;
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1.25px;
}

p {
  margin: 20px 20px;
  padding: 20px 20px;
  background-color: #F2DEEE;

}








img {
  display: block;
  margin: 0 auto;
  width: 80%;
}
